.filter-form {
  display: flex;
  flex-direction: column;
  max-width: 600px; // Adjust as needed
  margin: 0 auto; // Center the form

  h2 {
    font-size: 1.2em; // Smaller heading size
    margin-bottom: 0.5em; // Reduced space below heading
  }

  .form-row {
    display: flex;
    flex-wrap: wrap; // Allow wrapping for smaller screens
    gap: 0.5em; // Space between form groups

    .form-group {
      display: flex;
      flex-direction: column;
      flex: 1 1 100px; // Flex properties for responsiveness

      label {
        font-size: 0.8em; // Smaller label size
        margin-bottom: 0.1em; // Less space below label
      }

      input,
      select {
        padding: 0.4em; // Smaller padding for inputs and selects
        font-size: 0.8em; // Smaller font size
        border: 1px solid #ccc; // Standard border
        border-radius: 3px; // Slightly smaller rounded corners
        width: 100%; // Full width

        &:focus {
          border-color: #007bff; // Change border color on focus
          outline: none; // Remove outline
        }
      }
    }
  }

  .apply-filter-btn {
    padding: 0.4em 0.8em; // Smaller padding for button
    font-size: 0.9em; // Smaller button font size
    background-color: #007bff; // Button background color
    color: white; // Button text color
    border: none; // Remove border
    border-radius: 3px; // Slightly smaller rounded corners
    cursor: pointer; // Pointer cursor on hover
    margin-top: 0.5em; // Reduced space above button

    &:hover {
      background-color: #0056b3; // Darker shade on hover
    }
  }
}
.radio-group {
  display: flex;
  align-items: center; /* Center the items vertically */
  font-size: 0.8em; /* Smaller font size for the entire group */
}

.radio-group div {
  margin-right: 10px; /* Space between radio button groups */
}

.radio-group input {
  margin-right: 5px; /* Space between radio button and label */
  width: 14px; /* Smaller radio button size */
  height: 14px; /* Smaller radio button size */
}

.radio-group label {
  margin: 0; /* Remove any default margin from labels */
}
