* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.app-container {
    display: flex;
    flex-direction: column; /* or row if you want them side by side */
    width: 100%;
}

.app-filter,
.app-list {
    flex: 1; /* Allow the items to grow and fill space evenly */
    min-height: 0; /* Ensure that the elements can shrink properly */
}

.app-filter {
    padding: 5px; /* Adjust as needed */
    background: #f0f0f0; /* Light background for distinction */
}
    