<p>claim-list works!</p>
<!-- claim-list.component.html -->
<div>
    <input [(ngModel)]="filterValue" (input)="filterClaims()" placeholder="Filter claims...">
    <button (click)="addClaim()">Add Claim</button>
  </div>
  
  <div *ngIf="(loading$ | async)">
    Loading claims...
  </div>
  <div *ngIf="(error$ | async) as error">
    Error: {{ error }}
  </div>
  <ul *ngIf="!(loading$ | async) && !(error$ | async)">
    <li *ngFor="let claim of claims$ | async">
      <span>{{ claim.patientName }} - {{ claim.description }} - {{ claim.claimDate | date }} - ${{ claim.amount }} - {{ claim.status }} - Assigned to: {{ claim.assignedTo }}</span>
      <button (click)="updateClaim(claim)">Edit</button>
      <button (click)="deleteClaim(claim.id)">Delete</button>
    </li>
  </ul>

  
  